body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.container {
    display: flex;
    height: 100%;
    transition: background-color 0.5s; /* Adiciona transição para a mudança de cor de fundo */
}

.left-section {
    flex: 60%;
    background-color: #f0f0f0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-image: url("/img/background.png") ;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 60% 100%;
    transition: justify-content 0.5s; /* Adiciona transição para o alinhamento do botão após o login */
}

.right-section {
    flex: 40%;
    background-color: #e0e0e0;
}

.center-button {
    padding: 20px 60px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    margin-right: 10%;
    transition: margin-right 0.5s; /* Adiciona transição para a margem direita após o login */
}

.center-button:hover {
    background-color: #0056b3;
}


